/huggingface_cache
/.venv
/__pycache__
*.pyc
/data
*.pyo
*.pyd
*.pdb
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
*.egg
*.coverage
*.mypy_cache
*.pytest_cache
*.vscode
.idea
*.dev
/extras
/logs
/misc
/downloads
/temp
main.ipynb
master_tester.json
report_generator.py
